<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ePubLog" type="MyConfigTest.LogConfig, MyConfigTest"/>
  </configSections>

  <ePubLog fileName="log.txt">
    <header value ="--------------------------------------------&#13;&#10;"/>
    <footer value ="&#13;&#10;--------------------------------------------"/>
  </ePubLog>
</configuration>