<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <client>
        <endpoint name="SendMailClient"
                  address="net.msmq://localhost/private/mailmessage"
                  binding="netMsmqBinding" bindingConfiguration="msmq"
                  contract="ePub.Server.Mail.Core.IMailService">
        </endpoint>
      </client>
      <bindings>
        <netMsmqBinding>
          <binding name="msmq">
            <security mode ="None"/>
          </binding>
        </netMsmqBinding>
      </bindings>
    </system.serviceModel>
</configuration>