<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="DocumentExplorerServiceBinding"
              sendTimeout="00:10:00"
              transferMode="Streamed"
              maxReceivedMessageSize="9223372036854775807">
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
            <endpoint address="http://localhost:5478/WcfFileTransferService/FileTransfer/"
                binding="basicHttpBinding" bindingConfiguration="DocumentExplorerServiceBinding"
                contract="WcfFileTransferService.IFileTransfer" name="WSHttpBinding_IFileTransfer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>