<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFServer.Calculator">
        <endpoint address="net.msmq://localhost/private/WcfTest"
                   binding="netMsmqBinding" bindingConfiguration="msmq"
                      contract="WCFServer.ICalculate"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmq">
          <security mode ="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>

</configuration>