<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!--name属性也很重要，是表示接口的实现类-->
      <service name="WCF_ServerNoCfg.Hello">
        <endpoint
          address=""
          binding="basicHttpBinding"
          contract="WCF_Contract.IHello">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9593/Fun"/>  <!--好像前面的localhost不起作用，打开端口后从任意IP都能访问-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>