<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FunServiceBehavior" name="WCF_WebService.WCFFunction">
        <endpoint address="" binding="basicHttpBinding" contract="WCF_WebService.IWCFInterface" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9593/Fun" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FunServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>