<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clientSetting" type="configTest.ClientSetting,configTest" />
    
    <section name="Test1" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="Test2" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Test3" type="System.Configuration.NameValueSectionHandler" />

  </configSections>  
  <clientSetting>
    <server value="bwang2" />
    <user value="lx" />
    <workFolderPath value="C:\WordFloder" />
  </clientSetting>

  <Test1 setting1="Hello" setting2="World"/>
  <Test2>
    <add key="Hello" value="World" />
  </Test2>
  <Test3>
    <add key="Hello" value="World" />
  </Test3>

  <connectionStrings>
    <add name="Database" connectionString="Provider=SQLOLEDB;Data Source=gongwr;Persist Security Info=True;User ID=sa;Password=Founder@123;Initial Catalog=ePub" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>