<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="CalculatorClient"
                address="net.msmq://localhost/private/WcfTest"
                binding="netMsmqBinding" bindingConfiguration="msmq"
                contract="WCFServer.ICalculate">
      </endpoint>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="msmq">
          <security mode ="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>