<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--
      一个WCF服务必须能为不同的通信场景提供不同的访问点，这些访问点称为WCF端点。
      也就是上面所提到的EndPoint。每个端点都有一个绑定，一个地址和一个契约：
      （1）绑定：指定该端点如何与外界通信，也就是为端点指定通信协议。
      •传输协议：端点和客户端通过传输协议通信。比较常用的是HTTP和TCP。
      •编码协议：在进入通信链路之前，端点和客户通过编码协议对通信进行编码。比较常见的是XML文件二进制码。
      •安全协议：端点和用户通过安全协议保证通信的安全。比如一些敏感的信息，要求通过加密的传输信道。
              比较常见的是HTTPS和WS-Security。
      （2）地址：一个端点地址指定端点的位置，如果通过端点与WCF通信，必须把通信指定到网络地址。
      （3）契约：一个端点上契约指定通过该端点的用户能访问到WCF服务的什么操作。-->

    <!--name字段仅是名称-->
    <client>
      <endpoint
        name="UseTCPClient"
        binding="netTcpBinding"
        address="net.tcp://localhost:9592/Fun" 
        contract="WCF_Server.IWCFInterface" />
      <endpoint
        name="UseHttpClient"
        binding="basicHttpBinding"
        address="http://localhost:9593/Fun"
        contract="WCF_Server.IWCFInterface" />
    </client>
  </system.serviceModel>
</configuration>