<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="UseTCPClient"
        binding="netTcpBinding"
        address="net.tcp://localhost:5432/Fun"
        contract="WCFCallBackContract.ICale" />
    </client>
  </system.serviceModel>
</configuration>
