<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionStrings" connectionString="Data Source=192.168.50.128\SQlExpress;Initial Catalog=Northwind;Persist Security Info=True;User ID=tester;Password=Founder123"/>
  </connectionStrings>
</configuration>