<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="myCustomGroup">
      <section
        name="myCustomSection"
        type="MyConfigSectionHandler.MyHandler, MyCustomConfigurationHandler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <!-- Configuration section settings area. -->
  <myCustomGroup>
    <myCustomSection myAttrib1="Clowns">
      <myChildSection
          myChildAttrib1="Zippy"
          myChildAttrib2="Michael Zawondy "/>
    </myCustomSection>
  </myCustomGroup>
</configuration>