<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
<configSections>
		<section name="plugins"
				type="Royo.PluggableApp.PluginSectionHandler, PluggableApp"
				/>
</configSections>
	<plugins>
		<plugin type="Royo.Plugins.Custom.EmailPlugin, CustomPlugin" />
	</plugins>
</configuration>
