<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <!--<system.serviceModel>
    <services>
      <service name="WCF_Server.WCFFunction">
        <endpoint
          address="net.tcp://localhost:9592/Fun"
          binding="netTcpBinding"
          contract="WCFCallBackContract.ICale" />
      </service>
    </services>
  </system.serviceModel>-->
</configuration>
