<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=Founder123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>