<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ePub.Server.Mail.Service.MailService">
        <endpoint address="net.msmq://localhost/private/mailmessage"
                   binding="netMsmqBinding" bindingConfiguration="msmq"
                      contract="ePub.Server.Mail.Core.IMailService"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmq">
          <security mode ="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>