@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.   
</p>
<p>
    <a href="./Home/JsonAction">这里</a>一个Json传输的例子，返回JsonAction<br/>
    <a href="./Home/ContentAction">这里</a>一个返回ContentResult例子<br/>
</p>
