<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="UseHttpClient"
        binding="basicHttpBinding"
        address="http://192.168.0.151:9593/Fun"
        contract="WCF_Contract.IHello" />
    </client>
  </system.serviceModel>
</configuration>